@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=cyrillic');
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.link_black{
  color: black;
  text-decoration: none;
}
.link_black:hover{
  color: black;
  text-decoration: underline;
}
.tag{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color:gray;
  font-size: 14pt;
  margin-bottom: 20px;
  padding-right: 10pt;
  text-decoration: none;
}
.tag:hover{
  color: black;
  text-decoration: none;
}

/*Header*/

.header{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 1200px;
  justify-content: space-around;
}
.logo{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 40pt;
}
.menu{
  margin-left: 100px;
  margin-right: 100px;
}
.menu a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18pt;
  color: black;
  margin-right: 15pt;
  text-decoration: none;
}
.menu a:hover{
  color:black;
  text-decoration: underline;
}
.social a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18pt;
  font-weight: 400;
  color: gray;
  margin-left: 15pt;
  margin-top: 10pt;
  text-decoration: none;
}
.social a:hover{
  color: black;
  text-decoration: underline;
}
.social i{
  font-size: 20pt;
}
.fa-facebook:hover{
  color:blue;
}
.fa-youtube-play:hover{
  color: red;
}
.fa-instagram:hover{
  color: DarkViolet;
}
.fa-envelope-o:hover{
  color: black;
}

/*content*/
.row {
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  max-width: 1200px;
  justify-content: space-between;
}
.content{
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
}
.block-big{
  min-width: 500px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.block-big-sector h1{
  align-self: center;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 40pt;
  margin-bottom: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.block-big-sector h1:hover{
  text-decoration: underline;
}
.block-big-sector p{
  width: 60%;
  margin: auto;
  align-self: center;
  text-align: center;
  font-size: 14pt;
  line-height: 18pt;
  font-family: 'Open Sans';
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}
.block-big-sector a{
  text-decoration: none;
}
.block-big-sector_preview{
  width: 1200px;
}
.block-big-sector_preview img{
  width: 1200px;
}
.block-small{
  width: calc(50% - 20px);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 20px;
}
.block-small-sector a{
  text-decoration: none;
}
.block-small-sector h1{
  align-self: center;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 35pt;
  margin-bottom: 20px;
  text-decoration: none;
}
.block-small-sector h1:hover{
  text-decoration: underline;
}
.block-small-sector p{
  width: 60%;
  margin: auto;
  align-self: center;
  text-align: center;
  font-size: 14pt;
  line-height: 18pt;
  font-family: 'Open Sans';
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}
.block-small-sector_preview{
  width: 570px;
  align-self: center;
}
.block-small-sector_preview img{
  width: 570px;
}
.loadmore{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.loadmore a{
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  text-decoration: none;
  color: black;
  padding: 20px;
}
.loadmore a:hover{
  color: white;
  background-color: black;
}
.categories{
  margin-top: 100px;
  width: 100%;
  color: gray;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 32pt;
}
.categories a{
  text-decoration: none;
  color: gray;
}
.categories a:hover{
  color: black;
}
/*Footer*/
.footer{
  max-width: 1200px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 50px;
}
.footer-half{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 50%;
}
.footer-half p{
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16pt;
  line-height: 18pt;
}
.footer-half h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 600;
  font-size: 35pt;
}
.footer-subscription{
  display: flex;
  flex-flow: row;
  width: 100%;
}
.footer-subscription form{
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-top: 30px;
}
.footer-subscription input[type=text]{
  width: 70%;
  padding-left: 10px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  outline: none;
  border: solid 1px gray;
}
.footer-subscription input[type=submit]{
  height: 60px;
  margin-left: 5%;
  width: 25%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  outline: none;
  border: solid 1px gray;
  background-color: white;
}
.footer-subscription input[type=submit]:hover{
  background-color: black;
  color: white;
}
.footer-links {
  width: 100%;
  margin-top: 20px;
}
.footer-links a{
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  line-height: 25pt;
  color: black;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
}
.footer-links a:hover{
  text-decoration: underline;
}
#fb{
  color: blue;
}
#yt{
  color:red;
}
#is{
  color: DarkViolet;
}
#vk{
  color: CornflowerBlue;
}
#sc{
  color:orange;
}
#tw{
  color: DeepSkyBlue;
}
.footer-tags{
  width: 100%;
  margin-top: 20px;
}
