.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper{
  display: flex;
  height: 600px;
  width: 50%;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
p{
  font-family: monospace;
  font-size: 40pt;
  background-color: white;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}
.img1{
  background-image: url(img1.jpg);
}
.img2{
  background-image: url(img2.jpg);
}
